<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href='/vendors/c3-0.6.2/c3.css' rel='stylesheet'>
    <script src='/vendors/d3.v5/d3.min.js' charset='utf-8'></script>
    <script src='/vendors/c3-0.6.2/c3.min.js' charset='utf-8'></script>
    <script src='/vendors/ramda-0.25.0/dist/ramda.min.js' charset='utf-8'></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="montly-overview"></div>
    <div id="lastmonth-overview"></div>
    <div id="average-expense"></div>
    <div id="total-balance"></div>

    <script src='/javascripts/app.js' type='text/javascript'></script>
    <script type='text/javascript'>
      CM.buildMonthlyOverviewChart(
        '#montly-overview',
        <%- JSON.stringify(monthlyBalances) %>,
        <%- JSON.stringify(startingBalances) %>,
      );

      CM.buildMonthlyOverviewChart(
        '#lastmonth-overview',
        <%- JSON.stringify(lastMonthBalances) %>,
        <%- JSON.stringify(lastMonthStartingBalances) %>,
      );

      CM.buildAverageOverviewChart(
        '#average-expense',
        <%- JSON.stringify(averageBalances) %>
      );

      CM.buildTotalBalanceChart(
        '#total-balance',
        <%- JSON.stringify(totalBalances) %>,
      );
    </script>
  </body>
</html>
